<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
    </head>
    <body>
        <div>
            <a href="/admin/index">Home</a> | <a href="/user/new">New User</a>
        </div>
        <h1>User List</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:href="@{ /user/{id}(id=${user.id}) }" class="btn">Editar</a></td>
                    <td><a th:href="@{ /user/{id}/delete(id=${user.id}) }" class="btn btn-danger">Excluir</a></td>
                    <td><a th:href="@{ /user/{id}/updatePassword(id=${user.id}) }" class="btn btn-danger">Atualizar senha</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>