<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Update User</title>
    </head>
    <body>
        <h1>Update User</h1>
        <div th:if="${error}">
            <div>
                <span th:text="${error}" /><br />
            </div>
        </div>
        <form class="form-inline" method="POST" action="#" th:object="${user}" th:action="@{/demo/user/{id}/updatePassword(id=${user.id})}">
            <input type="hidden" th:field="*{id}"/>
            <input type="password" class="form-control" placeholder="Password" th:field="*{password}"/>
            <p>
                <input type="password" class="form-control" placeholder="PasswordConfirm" th:field="*{passwordConfirm}"/>
                <button type="submit" class="btn btn-primary">Atualizar senha</button>
                <p><a href="/demo/user/?usercreated=true" class="button">Cancelar</a></p>
            </p>
        </form>
    </body>
</html>