<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div>
            <a href="/">Sair</a>
        </div>
        <p>
            <h1>Listar Produto</h1>
        </p>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Descrição</th>
                    <!-- <th>Votos</th> -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td><img th:src="@{ /{path} (path=${product.imagePath}) }"></img></td>
                    <td th:text="${product.description}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>