<!DOCTYPE html>
<html>
    <head>
        <title>Página Inicial</title>
    </head>
    <body>
        <p>
            <h1>Gestão Loja</h1>
        </p>
        
        <form action="/login" method="post" >
            <input type="text" title="username" name="username" placeholder="username" />
            <p>
                <input type="password" title="password" name="password" placeholder="password" />
                <button type="submit" class="btn">Login</button>
            </p>
            <p><a href="/user/new">Cadastrar</a></p>
        </form>
    </body>
</html>