<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Comentários</title>
    </head>

    <body>
        <p>
        <h1>Comentários</h1>
    </p>

    <p><a th:href="@{ /admin/produtos/{id}(id=${product.id}) }" class="btn" style="padding-left: 25px">Voltar</a></p>
    <div th:if="${error}">
        <div>
            <span th:text="${error}" /><br />
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Comentário</th>
                <th>Avaliação</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user_comment: ${product.comments}">
                <td th:text="${user_comment.user.name}"></td>
                <td th:text="${user_comment.comment}" style="padding-left: 25px"></td>
                <td th:if="${user_comment.liked}" style="padding-left: 25px">Positiva</td>
                <td th:if="${!user_comment.liked}" style="padding-left: 25px">Negativa</td>
                <td><a th:href="@{ /admin/produtos/{id}/comentarios/excluir(id=${user_comment.id}) }" class="btn btn-danger" style="padding-left: 25px">Excluir</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>