<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Editar Produto</title>
    </head>
    <body>
        <p>
        <h1>Editar Produto</h1>
    </p>

    <div th:if="${error}">
        <div>
            <span th:text="${error}" /><br />
        </div>
    </div>
    <form class="form-inline" method="POST" action="#" id="product_editing" enctype="multipart/form-data" th:object="${product}" th:action="@{/admin/produtos/{id}(id=${product.id})}">
        <input type="hidden" th:field="*{id}"/>
        <p><input type="text" class="form-control" placeholder="Nome" size="84" th:field="*{name}"/></p>

        <p>
            <textarea name="description" form="product_editing" class="form-control" placeholder="Descrição" th:field="*{description}" rows="4" cols="85" style="word-wrap: break-word; text-align:justify;"></textarea>
        </p>
        <p>
            <img th:src="@{ /files/{image}(image=${product.imagePath}) }" width="75" height="75" style="margin-right: 35px"></img>
            Imagem do produto: <input type="file" name="multipartFile" style="margin-left: 10px" />
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Atualizar</button> | <a th:href="@{ /admin/produtos/{id}/comentarios(id=${product.id}) }" class="btn">Ver comentários deste produto</a>
        </p>
        <p><a href="/admin/produtos/" class="button">Cancelar</a></p>
    </form>
</body>
</html>