<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <p>
            <a href="/admin/produtos/">Produtos</a> | <a href="/user">Usuários</a> | <a href="/admin/">Sair</a>
        </p>

        <p><h1>Admin Produtos Home</h1></p>

        <table class="table">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Descrição</th>
                    <!-- <th>Votos</th> -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="product: ${products}">
                    <td><a href=""><img th:src="@{ /{path} (path=${product.imagePath}) }"></img></a></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.id}"></td>
                    <td><a th:href="@{ /admin/produtos/{id}(id=${product.id}) }" class="btn">Editar</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>